<div class="row">
  <div class="col-auto">
  <h2>Hi {{user.email}}! </h2>
  </div>
</div>
<br>
{{#if review.length}}
<div class="card flex-column">
  {{#each reviews as |review|}}
  {{> editItem review}}
  {{/each}}
</div>
{{/if}}