<center><h1>Please <a href="/newbook">add a new book</a> or choose a book from the list below to review.</h1></center>
{{#each books as |book| }}
<div class="card">
  <div class="card-header">
    <h3>{{book.title}}</h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Author: {{book.author}}</p>
      <footer class="blockquote-footer">Genre: <cite title="Source Title">{{book.genre}}</cite></footer>
      <a href="/new-review/{{book.id}}">Review this book.</a>
    </blockquote>
  </div>
</div>
{{/each}}
