{{#each books as |book| }}
<div class="card">
  <div class="card-header">
    <p>Name: {{book.title}}</p>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Author: {{book.author}}</p>
      <footer class="blockquote-footer">Genre: <cite title="Source Title">{{book.genre}}</cite></footer>
      <a href="/new-review/{{book.id}}">Review this book.</a>
    </blockquote>
  </div>
</div>
{{/each}}