 <div class="booktlk bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Book Talk</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Read a book, leave a thought</p>
        <p class="fs-7 mb-6">You must log in to create a review.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="/new-review">➕ New Review</a>
        </div>
        <div>
          <br>
          <p class="fs-7 mb-6">Login Below</p>
        </div>
      </div>
    </div>
  </div> 
  <div class="card mb-3">
  <img src="https://cdn.lifestyleasia.com/wp-content/uploads/sites/2/2020/02/25145253/Photo-by-Alfons-Morales-on-Unsplash-scaled.jpg" id="bookimg" class="card-img-top" alt="Bookshelf with many books filling it.">
  <div class="card-body">
    <h5 class="card-title">What we're all about.</h5>
    <p class="card-text">Book talk's primary goal is to allow reading to become more social. We want to create a space where book clubs can fully
      take place on the web. Where people can share their thoughts on specific texts and look for new books that they might be interested in.
    </p>
  </div>
</div>
<div class="card text-center text-white bg-primary">
  <div class="card-header">
    LOGIN
  </div>
  <form class="card-body login-form">
    <div class="card-body">
      <div class="form-group">
        <label class="form-label">Email:</label>
        <input class="form-input" type="text" id="email-input-login" />
      </div>
      <div class="form-group">
        <label class="form-label">Password:</label>
        <input class="form-input" type="password" id="password-input-login" />
      </div>
      <div class="form-group">
        <a href="#" id="login-submit" class="btn btn-primary" type="submit">Submit</a>
      </div>
    </div>
  </form>
  <br>
  <a class="text-white" href="/signup">Sign Up Instead</a>


<script src="/js/login.js"></script>