<div class="booktlk bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <form class="card-body review-form">
      <div class="card-body">
        <div class="form-group">
          <h3>Write a new review:</h3>
          <label class="form-label">Title:</label>
          <div>
            <input class="form-input" type="text" id="review-name" />
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Review:</label>
          <div>
            <textarea class="text-area" type="text" id="review-content">
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Rating (1-5): </label>
          <div>
            <select class="form-input" type="number" id="review-rating" />
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            </select>
          </div>
        </div>
        <div class="form-group d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="#" id="review-submit" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
            data-book-id={{book_id}} type="submit">Submit</a>
        </div>
      </div>
  </div>
  </form>
  <br>
</div>

<script src="/js/newreview.js"></script>