<div class="booktlk bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
  <div class="card-header">
    <h3>Add a new book:</h3>
  </div>
  <form class="card-body login-form">
    <div class="card-body">
      <div class="form-group">
        <label class="form-label">Title</label>
        <input class="form-input" type="text" id="book-title" />
    <div class="form-group">
        <label class="form-label">Author</label>
        <input class="form-input" type="text" id="book-author" />
      </div>
            <div class="form-group">
        <label class="form-label">Genre</label>
        <input class="form-input" type="text" id="book-genre" />
      </div>
      <div class="form-group d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button href="#" id="add-submit" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="submit">Submit</button>
      </div>
    </div>
  </form>
  <br>
  </div>


<script src="/js/newbook.js"></script>