<div class="card text-center text-white bg-primary">
  <div class="card-header">
    Sign up
  </div>
  <form class="card-body signup-form" id="signup-form">
    <div class="card-body">
      <div class="form-group">
        <label class="form-label">Email:</label>
        <input class="form-input" type="text" id="email-input-signup" />
      </div>
      <div class="form-group">
        <label class="form-label">Password:</label>
        <input class="form-input" type="password" id="password-input-signup" />
      </div>
      <div class="form-group">
        <label class="form-label">First name:</label>
        <input class="form-input" type="text" id="first_name-input-signup" />
      </div>
      <div class="form-group">
        <label class="form-label">Last name:</label>
        <input class="form-input" type="text" id="last_name-input-signup" />
      </div>
      <div class="form-group">
        <button href="#" id="signup-submit" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
  <br>
  <a class="text-white" href="/login">Login Instead</a>


  <script src="/js/signup.js"></script>